@charset "utf-8";

/* 定数定義(基本値) */

:root {
    --layout_mode: "Default";
    
    --body_lyt_bgcolor: azure;

    --body_lyt_col_left_gap:   30px;
    --body_lyt_col_right_gap:  30px;
    --body_lyt_col_main_width: auto;

    --body_lyt_row_header_height: 100px;
    --body_lyt_row_main_height  :  auto;
    --body_lyt_row_footer_height:  20px;

    --header_text_color:darkgreen;
    --header_font_family: sans-serif;
    --header_font_size: 12px;
    --header_line_height: 15px;

    --icon_image_width:  50px;
    --icon_cell_padding: 10px;
    --icon_cell_width:   calc( var(--icon_image_width, 50px) + calc( var(--icon_cell_padding) * 2));

    --body_lyt_row_header_height: calc( var(--icon_image_width, 50px) + var(--header_line_heght, 15px) * 2);

    --footer_text_color: darkgreen;
    --footer_font_family: 'Times New Roman', Times, serif;
    --footer_font_size: 12px;
    --footer_line_heght: 15px;

    --h1_margin: 10px;
    --h1_text_color: darkgoldenrod;
    --h1_font_family: serif;
    --h1_font_size: 36px;
    --h1_line_heght: 38px;

    --body_grid_gap: 1rem 1.5rem;
    --body_grid_cols: 
            var(--body_lyt_left_gap, 3rem)
            [h1-start footer-start view3d-start message-start]
            var(--body_lyt_col_left_width,  auto)
            [info-start message-end]
            var(--body_lyt_col_right_width, auto)
            [h1-end view3d-end footer-end info-end]
            var(--body_lyt_right_gap, 3rem)
            ;
    --body_grid_rows:
            [h1-start]
            var(--body_lyt_row_header_height,  100px)
            [h1-end view3d-start]
            var(--body_lyt_row_main_height,      1fr)
            [view3d-end info-start message-start]
            var(--body_lyt_row_message_height,   1fr)
            [info-end message-end footer-start]
            var(--body_lyt_row_footer_height,  100px)
            [footer-end]
            ;

    --maze_grid_gap: 1rem 1.5rem;
    --maze_grid_cols: 
            [view3D-start]
            1fr
            [view3D-end view2D-start]
            1fr
            [view2D-end]
            ;
    --maze_grid_rows:
            [view3D-start view2D-start]
            1fr
            [view3D-end view2D-end]
            ;

    --info_h2_font_size:  16px;

    --view3D_info_width:  23rem;
    --view3D_text_color:darkgreen;
    --view3D_font_family: sans-serif;
    --view3D_font_size:   1.3rem;
    --view3D_line_heght:  1.6rem;

    --view_message_height:    3.5rem;
    --view_message_font_size: 1.1rem;

    --view_button_font_size:  0.8rem;
    --ctl_font_size: 2.0rem;
/*
    --lr_arr_width:     2.3rem;
    --lr_arr_height:    2.3rem;
    --ud_arr_width:     2.3rem;
    --ud_arr_height:    2.3rem;
    --camp_btn_height:  2.3rem;
*/
    --save_data_list_cols:   4;
    --message_width:     33rem;
}
