@charset "utf-8";

/* iphone 横 */

:root {
    font-size: 12px;

    --layout_mode: "iPhone Landscape";
    
    --body_lyt_bgcolor: rgb(189, 243, 210);
   
/*
    --body_lyt_col_left_gap:   30px;
    --body_lyt_col_right_gap:  30px;
    --body_lyt_col_main_width: auto;
    
    --body_lyt_row_header_height: 150px;
    --body_lyt_row_main_height  :  auto;
    --body_lyt_row_footer_height:  20px;
    
    --header_text_color:rgb(88, 0, 100);
    --header_font_family: sans-serif;
    --header_font_size: 12px;
    --header_line_height: 15px;
    
    --icon_image_width:  100px;
    --icon_cell_padding: 10px;
    --icon_cell_width:   calc( var(--icon_image_width, 50px) + calc( var(--icon_cell_padding) * 2));
    
    --body_lyt_row_header_height: calc( var(--icon_image_width, 50px) + var(--header_line_heght, 15px) * 2);
    
    --footer_text_color: rgb(88, 0, 100);
    --footer_font_family: 'Times New Roman', Times, serif;
    --footer_font_size: 12px;
    --footer_line_heght: 15px;
    
    --h1_margin: 5px;
    --h1_text_color: darkgoldenrod;
    --h1_font_family: serif;
    --h1_font_size: 23px;
    --h1_line_heght: 25px;

    --main_list_margin: 10px;
    --main_list_font_famiry: serif;
    --main_list_font_size: 20px;
    --main_list_line_height: 32px;
*/


--body_lyt_col_left_gap:   30px;
--body_lyt_col_right_gap:  30px;
--body_lyt_col_main_width: auto;

--body_lyt_row_header_height: 100px;
--body_lyt_row_main_height  :  auto;
--body_lyt_row_footer_height:  20px;

--header_text_color:darkgreen;
--header_font_family: sans-serif;
--header_font_size: 12px;
--header_line_height: 15px;

--icon_image_width:  50px;
--icon_cell_padding: 10px;
--icon_cell_width:   calc( var(--icon_image_width, 50px) + calc( var(--icon_cell_padding) * 2));

--body_lyt_row_header_height: calc( var(--icon_image_width, 50px) + var(--header_line_heght, 15px) * 2);

--footer_text_color: darkgreen;
--footer_font_family: 'Times New Roman', Times, serif;
--footer_font_size: 12px;
--footer_line_heght: 15px;

--h1_margin: 10px;
--h1_text_color: darkgoldenrod;
--h1_font_family: serif;
--h1_font_size:  28px;
--h1_line_heght: 30px;


--body_move_gap: 1rem 1.5rem;
--body_move_cols: 
        var(--body_lyt_left_gap, 3rem)
        [header-start footer-start view2d-start message-start maze_m-start]
        auto
        [view2d-end message-end view3d-start]
        auto
        [view3d-end maze_m-end contls-start]
        auto
        [header-end footer-end view2d-end contls-end]
        var(--body_lyt_right_gap, 3rem)
        ;
--body_move_rows:
        [header-start]
        var(--body_lyt_row_header_height,  100px)
        [header-end view2d-start view3d-start contls-start]
        1fr
        [view2d-end view3d-end maze_m-start] 
        auto
        [contls-end maze_m-end message-start]
        auto
        [message-end footer-start]
        var(--body_lyt_row_footer_height,  100px)
        [footer-end]
        ;


--body_camp_gap: 1rem 1.5rem;
--body_camp_cols: 
        var(--body_lyt_left_gap, 3rem)
        [header-start footer-start message-start camp_l-start camp_m-start]
        auto
        [message-end camp_l-end camp_m-end contls-start]
        auto
        [header-end footer-end contls-end]
        var(--body_lyt_right_gap, 3rem)
        ;
--body_camp_rows:
        [header-start]
        var(--body_lyt_row_header_height,  100px)
        [header-end camp_m-start contls-start]
        auto
        [camp_m-end camp_l-start] 
        auto
        [camp_l-end message-start]
        auto
        [message-end contls-end footer-start]
        var(--body_lyt_row_footer_height,  100px)
        [footer-end]
        ;


--body_ldsv_gap: 0.0rem 1.5rem;
--body_ldsv_cols: 
        var(--body_lyt_left_gap, 3rem)
        [header-start footer-start message-start ldsv_l-start ldsv_d-start camp_m-start]
        1fr
        [message-end ldsv_l-end ldsv_d-end contls-start]
        auto
        [header-end footer-end camp_m-end contls-end]
        var(--body_lyt_right_gap, 3rem)
        ;
--body_ldsv_rows:
        [header-start]
        var(--body_lyt_row_header_height,  100px)
        [header-end camp_m-start]
        auto
        [camp_m-end ldsv_l-start contls-start] 
        auto
        [ldsv_l-end ldsv_d-start]
        1fr
        [ldsv_d-end message-start]
        1fr
        [message-end contls-end footer-start]
        var(--body_lyt_row_footer_height,  100px)
        [footer-end]
        ;

        

--info_h2_font_size:  16px;

--view3D_canvas_wdth: 280px;
--view3D_canvas_hght: 180px;

--view3D_info_width:  23rem;
--view3D_text_color:darkgreen;
--view3D_font_family: sans-serif;
--view3D_font_size:   1.3rem;
--view3D_line_heght:  1.6rem;

--view2D_pre_wdth:   260px;
--view2D_pre_hght:   220px;

--view_maze_msg_margin_UD:  0.5rem;
--view_camp_msg_margin_UD:  0.1rem;

--view_message_hght:        3.5rem;
--view_maze_msg_hght:       3.5rem;
--view_camp_msg_hght:       3.5rem;

--view_message_font_size:   1.1rem;
--view_maze_msg_font_size:  1.1rem;
--view_camp_msg_font_size:  1.1rem;

--camp_menu_list_font_size: 1.1rem;
--camp_menu_list_line_hght: 1.8rem;

--view_button_font_size:  0.8rem;
--ctl_font_size: 2.63rem;
/*
--lr_arr_width:     2.3rem;
--lr_arr_height:    2.3rem;
--ud_arr_width:     2.3rem;
--ud_arr_height:    2.3rem;
--camp_btn_height:  2.3rem;
*/
--ldsv_data_list_cols:           4;

--ldsv_data_list_font_size: 1.0rem;
--ldsv_data_list_line_hght: 1.1rem;

--ldsv_data_dtil_font_size: 0.90rem;
--ldsv_data_dtil_line_hght: 0.95rem;

--message_width:     33rem;




}