@charset "utf-8";


/* 標準レイアウト */

* {
    margin: 0;
}

img {
    width: 200px;
    height: auto;
}

/* レイアウトCSSの判別　*/
h1::after {
    content: "\A『" var(--layout_mode, "Common") "』レイアウト\A";
    white-space: pre;

    color: var(--h1_text_color, darkgoldenrod);
    font-family: var(--header_font_family, sans-serif);
    font-size: var(--header_font_size, 18px);
    line-height: var(--header_line_heght, 23px);
}


/* 全体のレイアウト関係 */
body {
    background-color: var(--body_lyt_bgcolor,#ccffcc);

    display: grid;

    gap:                   var(--body_grid_gap, 1rem 1.5rem);
    grid-template-columns: var(--body_grid_cols);
    grid-template-rows:    var(--body_grid_rows);
}

h1 {
    grid-area: h1;
}

article#gld_view_pane {
    grid-area: view;
}
article#gld_ctl_pane {
    grid-area: cntl;
}

article#message_pane {
    grid-area: message;
}

footer#footer_pane {
    grid-area: footer;
}

/* Headerの見栄え */
header {
    justify-self: center;
    align-self: baseline;

    display:grid;
}

/* Footerの見栄え */
footer {
    display: grid;
    justify-self:center;
    align-self: auto;
}

footer img {
    width: 50px;
}

footer a {
    text-decoration: none;
}
footer p {
    text-align: right;

    color: var(--footer_text_color, darkgreen);
    font-family: var(--footer_font_family, serif);
    font-size: var(--footer_font_size, 12px);
    line-height: var(--footer_line_heght, 158px);
}

/* 大タイトルのスタイル */
h1 {
    margin: var(--h1_margin, 10px);
    text-align: center;

    color:       var(--h1_text_color,darkgreen);
    font-family: var(--h1_font_family, serif);
    font-size:   var(--h1_font_size,   22px);
    line-height: var(--h1_line_heght,  26px);
}


div#gld_view_switch {
    width: auto;
}

ul#guld_menu_list, 
ul#team_list,
ul#guld_list,
ul#appd_list,
ul#menu_list,
ul#inpt_list,
ul#load_list, 
ul#save_list,
ul#maze_list,
ul#mvpt_list
{
    color:            chocolate;
    background-color: cornsilk;

    font-size:   var(--list_font,  1.0rem);
    line-height: var(--list_heght, 1.2rem);
}

fieldset#hres_hero_fields{
    font-size:   var(--detail_font,  0.9rem);
    line-height: var(--detait_heght, 1.1rem);
}

button#debug_mode {
    float: left;
}
p#gld_view_message {
    clear: left;
}
button#s_cp1 {
    margin-left: 1.0rem;
    float: right;
    color: #03ec0f;
    background-color:rgb(253, 255, 233);
}
button#r_cp1 {
    margin-left: 1.0rem;
    float: right;
    color:chocolate ;
    background-color:ivory;
}
button#y_cp1 {
    margin-left: 1.0rem;
    float: right;
    color: darkgreen ;
    background-color:#ccffcc;
}
button#n_cp1 {
    margin-left: 1.0rem;
    float: right;
    color: #ff00ff;
    background-color:pink;
}


div#gld_view_message_div {
    font-size:   var(--view_message_font_size, 1.1rem);
    line-height: var(--view_message_height,    3.5rem);

}


article#gld_ctl_pane {
    display: grid;
}

article#gld_ctl_pane div#ctl_view { 
    justify-self:center; 
    text-align:  center;
}

div#ctl_panel {
    display: grid;

    gap: 0.5rem 0.5rem;
    grid-template-columns: 
        [l_arrow-start n_btn-start s_btn-start]
        var(--lr_arrow_width, 2.3rem)
        [l_arrow-end n_btn-end s_btn-end u_arrow-start d_arrow-start]
        var(--ud_arrow_width, 2.3rem)
        [u_arrow-end d_arrow-end r_arrow-start y_btn-start r_btn-start]
        var(--lr_arrow_width, 2.3rem)
        [r_arrow-end y_btn-end r_btn-end]
        ;

    grid-template-rows: 
        [s_btn-start r_btn-start]
        var(--sr_buton_height,  2.3rem)
        [s_btn-end r_btn-end u_arrow-start]
        var(--ud_arrow_height,  2.3rem)
        [u_arrow-end l_arrow-start r_arrow-start]
        var(--lr_arrow_height,  2.3rem)
        [l_arrow-end r_arrow-end d_arrow-start]
        var(--ud_arrow_height,  2.3rem)
        [d_arrow-end y_btn-start n_btn-start]
        var(--ud_arrow_height,  2.3rem)
        [y_btn-end n_btn-end c_btn-start] 
        var(--camp_btn_height,  2.3rem)
        [c_btn-end]
        ;

}

button.normal#debug_mode {
    color:            var(--debug_button_fwcolor, #008000);
    background-color: var(--debug_button_bgcolor, #f0f8ff);
}

button.debug#debug_mode {
    color:            var(--debug_button_fwcolor, #ffffff);
    background-color: var(--debug_button_bgcolor, #ff0000);
}


div#ctl_panel button#y_btn {
    grid-area: y_btn;

    color: darkgreen ;
    background-color:#ccffcc;

    font-family: sans-serif;
    font-weight: bold;
}

div#ctl_panel button#n_btn {
    grid-area: n_btn;

    color: #ff00ff;
    background-color:pink;

    font-family: sans-serif;
    font-weight: bold;
}

div#ctl_panel button#s_btn {
    grid-area: s_btn;

    color: #03ec0f;
    background-color:rgb(253, 255, 233);

    font-family: sans-serif;
    font-weight: bold;
}

div#ctl_panel button#r_btn {
    grid-area: r_btn;
/*
    color: #df7803;
    background-color:rgb(255, 235, 239);
*/
    color:chocolate ;
    background-color:ivory;

    font-family: sans-serif;
    font-weight: bold;
}

div#ctl_panel button#c_btn {
    grid-area: c_btn;

    color: rgb(139, 141, 0) ;
    background-color:#f6ffcc;

    font-family: sans-serif;
    font-weight: bold;
}

div#ctl_panel button#u_arr {
    grid-area: u_arrow;
}

div#ctl_panel button#d_arr {
    grid-area: d_arrow;
}

div#ctl_panel button#l_arr {
    grid-area: l_arrow;
}

div#ctl_panel button#r_arr {
    grid-area: r_arrow;
}

article#pane_sytm_logs {
/*    width:       var(--message_width,        33rem); */
    font-size:    var(--message_font_size,   0.6rem);
    line-height:  var(--message_line_height, 0.7rem);
    max-height:   calc( var(--message_line_height, 0.7rem) * 6);
    overflow-y:   scroll;
    justify-self: auto;
    align-self:   auto;
}

article#pane_sytm_logs p {
    word-break: break-all;
}

ul#team_list,
ul#guld_list,
ul#menu_list,
ul#edit_list,
ul#appd_list,
ul#load_list, 
ul#save_list
{
    column-count: var(--hres_list_count, 4); 
}
ul#maze_list,
ul#mvpt_list
{
    column-count: var(--maze_list_count, 1); 
}

ul#hres_hero_info,
ul#edit_hero_info,
ul#appd_hero_info {
    display: grid;
    gap:  var(--hero_info_grid_gap, 0.5rem 1.0rem);
    grid: var(--hero_info_grid_template, none);
}

#hres_hero_info {
    list-style:   none;
    padding-left: 0px;
    text-align:   center;
}
#hres_hero_info li {
    border: 2px dotted var(--hero_info_border_color, rgb(165, 255, 225));
}

#_hr_name  { grid-area: _hr_name;  }
#_hr_lv    { grid-area: _hr_lv;    }
#_hr_exp   { grid-area: _hr_exp;   }
#_hr_skp   { grid-area: _hr_skp;   }
#_hr_state { grid-area: _hr_state; }
#_hr_sex   { grid-area: _hr_sex;   }
#_hr_age   { grid-area: _hr_age;   }
#_hr_gold  { grid-area: _hr_gold;  }

#_hr_hp    { grid-area: _hr_hp;    }
#_hr_mp    { grid-area: _hr_mp;    }

#_hr_atk_p { grid-area: _hr_atk_p; }
#_hr_def_p { grid-area: _hr_def_p; }
#_hr_quc_p { grid-area: _hr_quc_p; }
#_hr_cnc_p { grid-area: _hr_cnc_p; }

#_hr_str_p { grid-area: _hr_str_p; }
#_hr_pwr_p { grid-area: _hr_pwr_p; }
#_hr_vit_p { grid-area: _hr_vit_p; }
#_hr_dex_p { grid-area: _hr_dex_p; }
#_hr_agi_p { grid-area: _hr_agi_p; }
#_hr_tec_p { grid-area: _hr_tec_p; }
#_hr_luk_p { grid-area: _hr_luk_p; }

#_hr_atk_m { grid-area: _hr_atk_m; }
#_hr_def_m { grid-area: _hr_def_m; }
#_hr_quc_m { grid-area: _hr_quc_m; }
#_hr_cnc_m { grid-area: _hr_cnc_m; }

#_hr_str_m { grid-area: _hr_str_m; }
#_hr_pwr_m { grid-area: _hr_pwr_m; }
#_hr_vit_m { grid-area: _hr_vit_m; }
#_hr_dex_m { grid-area: _hr_dex_m; }
#_hr_agi_m { grid-area: _hr_agi_m; }
#_hr_tec_m { grid-area: _hr_tec_m; }
#_hr_luk_m { grid-area: _hr_luk_m; }

