@charset "utf-8";

/* 定数定義(基本値) */

:root {
    --layout_mode: "Default";
    
    --body_lyt_bgcolor: azure;

    --header_text_color:darkgreen;
    --header_font_family: sans-serif;
    --header_font_size: 12px;
    --header_line_height: 15px;

    --icon_image_width:  50px;
    --icon_cell_padding: 10px;
    --icon_cell_width:   calc( var(--icon_image_width, 50px) + calc( var(--icon_cell_padding) * 2));

    --body_lyt_row_header_height: calc( var(--icon_image_width, 50px) + var(--header_line_heght, 15px) * 2);

    --footer_text_color: darkgreen;
    --footer_font_family: 'Times New Roman', Times, serif;
    --footer_font_size: 12px;
    --footer_line_heght: 15px;

    --h1_margin: 10px;
    --h1_text_color: darkgoldenrod;
    --h1_font_family: serif;
    --h1_font_size: 36px;
    --h1_line_heght: 38px;

/*    
    --body_grid_col_left_gap:    30px;
    --body_grid_col_right_gap:   30px;
    --body_grid_col_main_width:  auto;
    --body_grid_col_left_width:  auto;
    --body_grid_col_right_width: auto;

    --body_grid_row_header_height: 100px;
    --body_grid_row_main_height:     1fr;
    --body_grid_row_message_height:  1fr;
    --body_grid_row_footer_height:  20px;
*/

    --body_grid_gap: 1rem 1.5rem;
    --body_grid_cols: 
            3rem
            [h1-start footer-start view-start message-start]
            auto
            [view-end cntl-start]
            auto
            [h1-end footer-end  message-end cntl-end]
            3rem
            ;
    --body_grid_rows:
            [h1-start]
            100px
            [h1-end view-start cntl-start]
            1fr
            [view-end cntl-end message-start]
            1fr
            [message-end footer-start]
            100px
            [footer-end]
            ;

    --view_message_font_size: 1.1rem;
    --view_message_height:    3.5rem;

    --lr_arrow_width:   2.3rem;
    --lr_arrow_height:  2.3rem;
    --ud_arrow_width:   2.3rem;
    --ud_arrow_height:  2.3rem;
    --camp_btn_height:  2.3rem;

    --message_width:        33rem;
    --message_font_size:   0.6rem;
    --message_line_height: 0.7rem;

}
